.draggedItem {
  background-color: paleturquoise;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  background-color: #f0f0f0;
  width: 200px;
  height: 100%;
}

.sidebar-item {
  cursor: grab;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.sidebar-item.dragging {
  opacity: 0.5;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  background-color: #f0f0f0;
  min-height: 30vh;
  height: 100%;
  border: black 1px solid;
}

.item {
  flex-basis: calc(33.33% - 10px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.stack {
  background-color: aqua;
  overflow: auto;
}

.sidebarContainer {
  display: flex;
  justify-content: space-around;
}

.custom-handle {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 8px;
  height: 8px;
  background-color: #1153aa;
  opacity: 0.75;
  border-radius: 4px;
  cursor: se-resize;
}
.react-resizable-handle {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 8px;
  height: 8px;
  background-color: #1153aa;
  opacity: 0.75;
  border-radius: 4px;
  cursor: se-resize;
}

.stack-resize {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
